faster-whisper
sentence-transformers
librosa
numpy
scikit-learn
imageio-ffmpeg
groq
pysubs2
python-dotenv
edge-tts
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai
pytubefix